/.DS_Store
/.vscode
/captcha.png
/element_screenshot.png
/example.png
/execute.py
/github.ipynb
/gptocr.ipynb
/gptorclocal.ipynb
/loginScu.py
/myvision.ipynb
/ocr.ipynb
/ocrlocal.ipynb
/orc.py
/p1.jpg
/p3.png
/screenshot.png
/temp_images
/vison.ipynb
/__pycache__
/实践8：SaaS AI之对象检测.docx